:root {
  --cor-12: #000000;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  color: #ffffff;
}
body,
html {
  background: url("../img/BG.png") var(--cor-12);
  height: 10000px;
}
a {
  font-family: inherit;
  color: inherit;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 64px;
  display: grid;
  justify-items: center;
}
.color-change {
  color: #83cbff;
}
