* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #ffffff;
}
a {
  color: inherit;
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
}
body,
html {
  min-height: 100vh;
  background: url("../img/BG.png");
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;
}
.menu-item:hover.blue {
  color: #b0d1fc;
}
.menu-item:hover.purple {
  color: #a7a1f3;
}
.menu-item:hover.red {
  color: #f3a1ac;
}
.menu-item:hover.yellow {
  color: #f3e8a1;
}
